body{
    background-color:white;

}   
h1, h2 {
    text-align: center;
    padding: 5px;
}

.container {
    display: inline-flex;
    margin: 10px;
    padding: 10px;
}


.left-side {
    margin:20px;
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    
}

.right-side {
    margin: auto auto;  
    padding: 30px;
    background-color: white;
    border: 2px solid black;
}


.container .left-side .disclaimer {
    background-color: yellow;
}

p, ul,
ol {
    font-size: 20px;
    color: black;
    display: inline-block;
    text-align: left;
}

.index{
    text-align: center;
    background-color: grey;
    border:3px solid darkgray;
}


.index h1 {
    font-size: 42px;
    border: 3px solid darkgray;
    padding: 0px 0px;
}

.index ul { 
    text-align: left;
}